<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">



    <title>Restaurant Ordering System</title>

  </head>

  <body>
    <%- include partials/navbar.ejs %>

    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <h1>Testing</h1>
  </body>
</html>
