<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Time</title>
  </head>
    <body style="font-size:20px; padding:50px;">
        <section class = 'order-container'>
        <p><%= order[0]['name'] %></p>
        </section>
      </form>
    </body>
</html>





