<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Time</title>
  </head>
    <body style="font-size:20px; padding:50px;">
        <section class = 'order-container'>
        <%= JS CODE IN HERE %>

        </section>
      </form>
    </body>
</html>

Order ID
Items in the order
Wait time

price, total




