<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Time</title>
  </head>
    <body style="font-size:20px; padding:50px;">
        <form action="/time/:id" method="POST">
          <input type="email" name="email">
          <input type="phone number" name="phone number">
          <input type="submit" value="Submit">
        </form>
      </form>
    </body>
</html>




