body {
  background-color: #EEE;

  h3 {
    color: #244751;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.submit-order {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 300px;
}